<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="ps2ls.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="ps2ls.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <applicationSettings>
        <ps2ls.Properties.Settings>
            <setting name="ProjectHomeURL" serializeAs="String">
                <value>http://code.google.com/p/ps2ls/</value>
            </setting>
            <setting name="ProjectSourceURL" serializeAs="String">
                <value>http://code.google.com/p/ps2ls/source/checkout</value>
            </setting>
            <setting name="ProjectWikiURL" serializeAs="String">
                <value>http://code.google.com/p/ps2ls/w/list</value>
            </setting>
            <setting name="ProjectNewIssueURL" serializeAs="String">
                <value>http://code.google.com/p/ps2ls/issues/entry</value>
            </setting>
        </ps2ls.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <ps2ls.Properties.Settings>
            <setting name="AssetDirectory" serializeAs="String">
                <value />
            </setting>
        </ps2ls.Properties.Settings>
    </userSettings>
</configuration>
